
body{
    background-size: cover;
    background-repeat: repeat-y;
}

#backRndImg{

}

.questionLine, .scoreLine, .header {
    display: inline;
    font-size: 25px;
    text-align: center;
}

.scoreLine{
    padding-left: 10px;
}

.questionCounterL{
    padding-right: 50px;
}

.quizContainer{
    display: flex;
    display: inline;
    flex-direction: column;
    align-items: center;
    margin: 2em 1em;
}

.quizBox{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding: 1em;
}

button{

    margin-top: 1em;
    margin-bottom: 1em;
    width: 8em;
    font-size: 2em;
    background-color: #687864;
    border: 0px;
}

.activeImages{
    height: 275px;
    padding-right: auto;


}